.Layout {
    height: 100%;
    box-sizing: border-box;
    /* Real width and height */
    display: grid;
    grid-template-rows: 10% 85% 5%;
    grid-template-columns: repeat(6, 1fr);
    /* fr = Fraction = יחידת מידה אחת */
}

.Layout>header,
.Layout>footer {
    grid-column: span 6;
    /* span = מתפרש */
}

.Layout>main {
    grid-column: span 5;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.363);
}

.Layout,
.Layout>* {
    border: 1px solid black;
}