.Cart .w3-sidebar {
    z-index: 8;
    width: 600px;
    overflow-y: scroll;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(255, 248, 212);
}

#close-cart {
    text-align: start;
    top: 0;
    left: 0;
}

#cart-title {
    color: deeppink;
}

.w3-animate-left {
    animation-duration: 0.3s;
}

#checkout-button {
    width: 100%;
}

.Cart .button-29 {
    height: 80px;
    font-size: 200%;
}

.Cart #shopping-cart {
    color: white !important;
}

.open-cart {
    background-image: radial-gradient(100% 100% at 100% 0, #ffffff 0, #ff54a4 100%) !important;
}

.Cart #shopping-cart:hover {
    color: white !important;
}

.Cart #shopping-cart>i {
    font-size: 150%;
    background: none;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #ec8c06;
}

#lblCartCount {
    font-size: 20px;
    background: #ffc75e;
    color: #fff;
    padding: 4px 7px;
    vertical-align: top;
    margin-left: -15px;
    margin-bottom: 30px;
}

.Cart ul {
    list-style-type: none;
}

.Cart .total {
    font-size: 200%;
}

.Cart a {
    text-decoration: none;
}

#no-cart {
    font-size: 200%;
}

.Cart #checkout-button-clear {
    width: 100%;
    font-size: 200% !important;
    border-radius: 0 !important;
}