.SearchBar>form>input {
    height: 50px;
    width: 400px;
    text-indent: 15px;
    font-size: x-large;
    border-radius: 3px;
}

.SearchBar>form>input::placeholder {
    color: rgb(111, 112, 112);

}

.SearchBar>form>input:hover {
    box-shadow: 0 0 10px 2px rgba(0, 217, 255, 0.34);

}

.SearchBar>form>input:focus {
    outline: none;
    box-shadow: 0 0 10px 2px rgba(0, 217, 255, 0.34);
}



::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.SearchBar .button-29 {
    background-image: radial-gradient(100% 100% at 100% 0, #ffffff 0, #9854ff 100%);

}

.SearchBar .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4c2a7e 0 -3px 0 inset;
    transform: translateY(-4px);
}

#oh-no {
    font-size: 200%;
}