.SearchBar>form>input {
    height: 50px;
    width: 400px;
    text-indent: 15px;
    font-size: x-large;
    border-radius: 3px;
}

.SearchBar>form>input::placeholder {
    color: rgb(111, 112, 112);

}

.SearchBar>form>input:hover {
    box-shadow: 0 0 10px 2px rgba(0, 217, 255, 0.34);

}

.SearchBar>form>input:focus {
    outline: none;
    box-shadow: 0 0 10px 2px rgba(0, 217, 255, 0.34);
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #9854ff 100%);
    border: 0;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 18px;
    transform: translateY(-2px);
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 2px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-4px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
}

::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.SearchBar .button-29 {
    background-image: radial-gradient(100% 100% at 100% 0, #ffffff 0, #9854ff 100%);

}

.SearchBar .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4c2a7e 0 -3px 0 inset;
    transform: translateY(-4px);
}