.ProductCard {
    max-width: 250px;
    margin-left: 20px;
    margin-top: 60px;
}

.ProductCard img {
    max-width: 250px;
    height: 250px;
}

.ProductCard .card {
    width: 250px;
    height: 600px;
    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProductCard .card-body {
    overflow-y: auto;
}

.ProductCard .card-footer {
    font-size: x-large;
    border-top: 1px solid black;
    background-color: aliceblue;
}

.ProductCard .card-header {
    background-color: aliceblue;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}