@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Karantina&family=Poppins:wght@300&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  color: black;
  font-family: 'Cabin', sans-serif;
  font-family: 'Karantina', cursive;
  font-family: 'Poppins', sans-serif;
  /* background-image: linear-gradient(to right top, #288157, #4b8e5b, #699b61, #85a868, #a1b571, #a7c07b, #aeca86, #b4d591, #a3e0a3, #8eeaba, #78f3d4, #5ffbf1); */
  overflow: hidden;
  background: rgb(240, 199, 255);
  background: linear-gradient(90deg, rgba(240, 199, 255, 1) 0%, rgba(246, 226, 254, 1) 20%, rgba(246, 226, 254, 1) 80%, rgba(240, 199, 255, 1) 100%);
  background-image: url(http://127.0.0.1:8000/assets/general/images/background.jpg);
  background-size: cover;
}

.Box {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 2px 28px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 28px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  background-color: rgba(255, 240, 214, 0.753);
}

.Box>p {
  margin: 0;
}

a {
  color: blue;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #201313;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 163, 255);
  background: linear-gradient(0deg, rgba(90, 163, 255, 1) 0%, rgba(162, 69, 255, 1) 100%);

}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #9854ff 100%);
  border: 0;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  font-size: 18px;
  transform: translateY(-2px);
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 2px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-4px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
}