.Checkout #cart-products::after {
    content: "";
    display: table;
    clear: both;
}

.Checkout ul,
li {
    list-style-type: none;
}

.Checkout .column {
    float: left;
    width: 50%;
    padding: 10px;
}

#cart-content>#bottom-checkout {
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
}

#cart-content {
    position: relative;
}

.Checkout>#cart-content>#cart-header {
    font-size: 200%;
}

.Checkout .total {
    font-size: 200%;
}