.AddProduct>form {
    width: 350px;
}

.AddProduct>h2 {
    text-align: center;
}

.AddProduct input,
.AddProduct button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.AddProduct span {
    color: red;
}

.AddProduct .col>label{
    margin-left: 10px;
}

.AddProduct .form-floating textarea{
    resize: none;
    height: 250px !important;
}